[submodule "smos-web-style/style/bulma"]
	path = smos-web-style/style/bulma
	url = https://github.com/jgthms/bulma.git
[submodule "smos-web-style/style/bulma-carousel"]
	path = smos-web-style/style/bulma-carousel
	url = https://github.com/Wikiki/bulma-carousel.git
[submodule "smos-web-style/style/bulma-pricingtable"]
	path = smos-web-style/style/bulma-pricingtable
	url = https://github.com/Wikiki/bulma-pricingtable.git
